* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#main-header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5d0225;
}

#main-header h1 {
  color: white;
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  position: fixed;
  width: 40rem;
  height: 22rem;
  top: 50%;
  left: 50%;
  margin-top: -10rem;
  margin-left: -20rem;
  background: white;
  z-index: 20;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.26);
}

ul {
  list-style: none;
  margin: 0;

  min-height: 100%;
}

li {
  margin: 1rem 0;
}

section {
  margin: 1rem auto;
  width: 40rem;
  max-width: 90%;
  min-height: 300px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

section ::-webkit-scrollbar {
  display: none;
}

section ul {
  padding: 2rem;
  overflow: scroll;
}

section > h2 {
  color: white;
  margin: 0;
}

button {
  font: inherit;
  background: #ff0062;
  color: white;
  border: 1px solid #ff0062;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button.add-to-do-button {
  margin: 1rem auto;
  width: 200px;
}

button.alt {
  background: white;
  color: #ff0062;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #ff2579;
  border-color: #ff2579;
  color: white;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background: white;
}

.droppable {
  background: #ffe0ec;
}

#active-projects {
  border: 1px solid #870099;
}

#active-projects > header {
  background: #870099;
  padding: 1rem;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

#active-projects header h2 {
  color: white;
  margin: 0;
}

#finished-projects {
  border: 1px solid #535353;
}

#finished-projects > header {
  background: #535353;
  padding: 1rem;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

#finished-projects header h2 {
  color: white;
  margin: 0;
}
